
<div class="row">
<div class="col-9">
<table class="table table-bordered table-hover mt-3">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @my_friends.each do |friend| %>
      <tr>
        <td scope="row"><%= friend.first_name %></td>
        <td><%= friend.last_name %></td>
        <td><%= friend.email %></td>
        <td><%= link_to 'Stop following', friendship_path(friend), method: :delete, data: {confirm: 'Are you sure?'}, class:'btn btn-sm btn-warning' %></td>
      </tr>
    <%end%>
  </tbody>
</table>
