<h1 class="text-center mt-2">Welcome to Dulce's Stock Tracker App!</h1>

<%=image_tag("dog.png", alt: "Tax the big dogs", class:"welcome-image mx-auto d-block")%>


<h4 class="text-center font-italic mt-5">Helping you make all the woofwsponsible decisions</h3>